<% include ./partials/header %>

<div class="container form_container">
	<h1 class="form_heading">
		Log In
	</h1>
	<form action="/login" method="POST" class="form">
		<div class="form_group">
			<label>Username:</label>
			<input class="form-control" type="username" name="username" placeholder="username">
		</div>
		<div class="form_group">
			<label>Password:</label>
			<input class="form-control" type="password" name="password" placeholder="password">
		</div>
		<button type="submit" class="btn btn-success">Log In</button>
	</form>
	<p>
		Haven't Registered Yet ? - <a href="/register">Register Now</a>
	</p>
</div>

<% include ./partials/footer %>